/* WORKS WITH */

.works-with {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.works-with__sections {
  align-items: stretch;
  background-color: #eeeeee06;
  justify-content: space-between;
  display: flex;
  border-radius: var(--border-radius);
}

.works-with__sections-separator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-with__sections-separator {
  height: 60%;
  width: 1px;
  background-color: var(--border-color-secondary);
}

@media (max-width: 996px) {
  .works-with h3 {
    text-align: center;
  }

  .works-with__sections {
    flex-direction: column;
  }

  .works-with__sections-separator {
    height: 1px;
    width: 100%;
  }
}

.works-with__coming-soon {
  font-size: 0.613rem;
  background-color: #eeeeee06;
  display: flex;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin: 0 0 1rem -0.5rem;
}

/* WORKS WITH section */

.works-with__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
  padding-bottom: 2rem;
  height: 100%;
}

/* WORKS WITH vendors label */
.works-with__section-label {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  font-size: 0.875rem;
  padding: 0.313rem 0.5rem;
}

/* cloud */
.works-with__section-label--green {
  color: #041b00;
  background-color: #34a853;
}

/* ci/cd */
.works-with__section-label--orange {
  color: #220b00;
  background-color: #fc6d26;
}

/* IaC providers */

.works-with__section-label--purple {
  color: #080013;
  background-color: #9747ff;
}

/* WORKS WITH vendor logos */

.works-with__section-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.works-with__logos-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}

.works-with__logos-row img {
  object-fit: contain;
}
