/* PILL */
.pill {
  padding: 0.375rem 0.5rem;
  border-radius: var(--border-radius);
  display: inline-flex;
	line-height: initial;
}

.pill--blue {
  color: #fff;
  background-color: #007acc;
}

.pill--green {
  color: #041b00;
  background-color: #34a853;
}

.pill--orange {
  color: #220b00;
  background-color: #fc6d26;
}

.pill--violet {
  color: white;
  background-color: #6658c5;
}
