/* FINOPS ITEM */

:root {
  --padding-mobile: 1.25rem;
}

.finops-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  position: relative;
  padding: 4rem;
  background-color: #eeeeee06;
  border-radius: 32px;
  align-items: center;
  color: white;
  width: 1200px;
}

@media screen and (max-width: 1280px) {
  .finops-card {
    max-width: 100%;
  }
}

.finops-card--alternate > .finops-card__body {
  order: 2;
}

.finops-card__tagline {
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 2.4rem;
  margin: 1rem 0 0.5rem;
}

.finops-card ul {
  padding-left: 0;
  margin-bottom: 1.5rem;
}

.finops-card__li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  margin-bottom: 0.313rem;
}

.finops-card__li > .icon.primary {
  margin-top: 3px;
}

.finops-card__image {
  border-radius: 16px;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.5));
  padding: 1.5rem 1.5rem 0;
  display: flex;
  height: 22rem;
  justify-content: center;
}

.finops-card__image-wrapper {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  display: flex;
}

.finops-card__image-wrapper img {
  object-fit: contain;
  margin: 0 auto;
}

@media screen and (max-width: 1998px) {
  .finops-card {
    margin: 0;
    padding: 2rem;
  }
}

@media (max-width: 1236px) {
  .finops-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .finops-card > .finops-card__body {
    order: 2;
  }

  .finops-card__image {
    height: 15rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .finops-card {
    margin: 0;
    padding: 0 var(--padding-mobile) 1.5rem;
    gap: 1.5rem;
  }

  .finops-card__image {
    height: 11rem;
    margin: 0 calc(var(--padding-mobile) * -1);
  }

  .finops-card__cta-wrapper {
    display: flex;
    justify-content: center;
  }
}
