/* PRODUCT CARD */

:root {
  --padding-mobile: 1.25rem;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  position: relative;
  padding: 4rem;
  margin: 0 -4rem;
  background-color: #eeeeee06;
  border-radius: 32px;
  align-items: center;
}

.product-card--alternate > .product-card__body {
  order: 2;
}

.product-card__tagline {
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 2.4rem;
  margin: 1rem 0 0.5rem;
}

.product-card__sub-tagline {
  color: var(--faded-text);
}

.product-card__sub-tagline--strong {
  color: white;
  margin-left: 0.375rem;
}

.product-card__sections-separator-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
}

.product-card__sections-separator {
  height: 1px;
  width: 5rem;
  background-color: var(--border-color-secondary);
}

.product-card__ul {
  padding-left: 0;
  margin-bottom: 1.5rem;
}

.product-card__li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  margin-bottom: 0.313rem;
}

.product-card__li > .icon.primary {
  margin-top: 3px;
}

.product-card__image {
  background: var(--primary-gradient);
  background-size: cover;
  border-radius: 16px;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.5));
  padding: 1.5rem 1.5rem 0;
  display: flex;
  height: 22rem;
  justify-content: center;
}

.product-card__image-wrapper {
  background-color: var(--white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
  width: 100%;
  max-width: 700px;
}

.product-card__image-wrapper img {
  width: 100%;
  height: auto;
}

@media (max-width: 1440px) {
  .product-card {
    margin: 0;
    padding: 2rem;
  }
}

@media (max-width: 1236px) {
  .product-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .product-card > .product-card__body {
    order: 2;
  }

  .product-card__image {
    height: 15rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .product-card {
    margin: 0;
    padding: 0 var(--padding-mobile) 1.5rem;
    gap: 1.5rem;
  }

  .product-card__image {
    height: 11rem;
    margin: 0 calc(var(--padding-mobile) * -1);
  }

  .product-card__cta-wrapper {
    display: flex;
    justify-content: center;
  }
}
