/* PRODUCT CARD */

:root {
  --padding-mobile: 2rem;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  position: relative;
  padding: 4rem;
  margin: 0 -4rem;
  background-color: #eeeeee06;
  border-radius: 32px;
  align-items: center;
}

.product-card--alternate > .product-card__body {
  order: 2;
}

.product-card__tagline {
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 2.4rem;
  margin: 1rem 0 0.5rem;
}

.product-card__sub-tagline {
  color: white;
  margin-bottom: 1rem;
}

.product-card__sub-tagline--faded {
  color: var(--faded-text);
}

.product-card__ul {
  padding-left: 0;
  margin-bottom: 1.5rem;
}

.product-card__li {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  margin-bottom: 0.313rem;
}

.product-card__li > .icon.primary {
  margin-top: 3px;
}

.product-card__image {
  background: var(--primary-gradient);
  background-size: cover;
  border-radius: 16px;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.5));
  padding: 1.5rem 1.5rem 0;
  display: flex;
  height: 22rem;
}

.product-card__image-wrapper {
  align-items: flex-start;
  background-color: var(--white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  overflow: hidden;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}

.product-card__image-wrapper > img {
  object-fit: contain;
  object-position: top left;
}

.product-card__image-wrapper--cover {
  align-items: center;
}

.product-card__image-wrapper--cover > img {
  object-fit: cover;
}

@media (max-width: 1440px) {
  .product-card {
    margin: 0;
    padding: 2rem;
  }
}

@media (max-width: 1236px) {
  .product-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .product-card > .product-card__body {
    order: 2;
  }

  .product-card__image {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .product-card {
    margin: 0;
    padding: 0 var(--padding-mobile) var(--padding-mobile);
    gap: var(--padding-mobile);
  }

  .product-card__image {
    height: 15rem;
    margin: 0 calc(var(--padding-mobile) * -1);
  }

  .product-card__image-wrapper--cover > img {
    background-color: #212121;
    object-position: center;
    object-fit: contain;
  }

  .product-card__cta-wrapper {
    display: flex;
    justify-content: center;
  }
}
