/* GLOSSARY TERM PAGE */

.glossary-term__page-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.glossary-term__article {	
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 4rem 1.5rem;
}

.glossary-term__content {	
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0 4rem 4rem 0;
}

.glossary-term__aside {	
	display: flex;
	flex-direction: column;
	border: 1px solid var(--border-light);
	border-radius: 8px;
	height: fit-content;
	overflow: hidden;
	box-shadow: var(--box-shadow);
}

.glossary-term__aside-img-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;
	background: url('/img/glossary/background.svg') no-repeat center center;
}

.glossary-term__aside-img {	
	object-fit: contain;
	width: auto;
	height: 50px;
}

.glossary-term__aside-content {
	padding: 1rem;
}

.glossary-term__header {	
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
	margin-bottom: .5rem;
}

.glossary-term__aside-def {
	display: flex;
	gap: .25rem;
	align-items: center;
	font-size: smaller;
	position: absolute;
	color: white;
	bottom: .5rem;
	left: 1rem;
	opacity: .5;
	font-weight: 100;
}

.glossary-term__aside-def svg {
	margin-bottom: 2px;
}

.glossary-term__definition {
	margin: .4rem 0
}


@media (max-width: 1080px) {
	.glossary-term__page-container {
		grid-template-columns: 1fr;
	}
	.glossary-term__content {	
		padding: 0 1.5rem 1.5rem 1.5rem;
	}
	.glossary-term__aside {
		order: -1;
		margin: 0;
	}
	.glossary-term__aside-def{
		margin-left: .625rem;
	}
	.glossary-term__aside-content {
		padding-left: 1.5rem;
	}
	.glossary-term__content{
		margin-top: 1.5rem;
	}
}
