/* FINOPS GLOSSARY SEARCH PAGE */

/* Intro */
.glossary-search__intro-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
}

/* Content */
.glossary-search__content-wrapper {
	padding: 1.5rem;
}

/* Glossary search */
input.glossary-search__input {
	width: 100%;
	padding: 1.5rem 2rem 1.5rem 3rem;
	background-color: #2a2a5b;
}

.finops-glossary__search {
	position: relative;
}

.finops-glossary__search > .search-icon {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
}

/* Search no results */
.finops-glossary__search-no-results {
	padding: 1.5rem;
	border: 1px solid var(--border-color);
	border-radius: 8px;
}


