/* FINOPS GLOSSARY SEARCH PAGE */

/* Intro */
.glossary-search__intro-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
}

/* Content */
.glossary-search__content-wrapper {
	padding: 4rem 1.5rem;
}

.glossary-search__content-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 1rem;
}

/* Glossary search */

.finops-glossary__search {
	position: relative;
	border-radius: 3rem;
	padding: 2px;
	width: 50%;
	margin: 0 auto;
}

input.glossary-search__input {
	width: 100%;
	padding: 1.5rem 2rem 1.5rem 4rem;
	background-color: #2a2a5b;
	border-radius: 3rem;
}

.finops-glossary__search > .search-icon {
	position: absolute;
	top: 50%;
	left: 2rem;
	transform: translateY(-50%);
}

/* Search clear */
.glossary-search__clear-button {
	position: absolute;
	top: 50%;
	right: 2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transform: translateY(-50%);
	background-color: #1e1e48;
}

/* Hide the html5 button */
.intro input[type="search"]::-webkit-search-decoration,
.intro input[type="search"]::-webkit-search-cancel-button,
.intro input[type="search"]::-webkit-search-results-button,
.intro input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/* Search no results */
.finops-glossary__search-no-results {
	padding: 1.5rem;
	border: 1px solid var(--border-color);
	border-radius: 8px;
}

@media screen and (max-width: 1080px) {
	.finops-glossary__search {
		width: 100%;
	}
}
