/* GLOSSARY TERM CARD */

.glossary-term__card {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding: 1rem;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	transition: all 0.2s ease-in-out;
	background-color: var(--nu10);
	border: 1px solid var(--border-light);
}


.glossary-term__card-title {
	font-size: 1.5rem;
	margin-bottom: 0;
	font-weight: bold;
	display: flex;
	gap: 0.5rem;
	align-items: baseline;
}

/* Hover animations */
.glossary-term__card-title,
.glossary-term__card-description,
.glossary-term__card-link .arrow-icon {
	transition: all 0.2s ease-in-out;
}

.glossary-term__card:hover {
	background-color: #eeeef7;
	transform: translateY(-.25rem) scale(1.02);
}


.glossary-term__card:hover .glossary-term__card-description {
	background-position: -100% 0;
}

.glossary-term__card-description {
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .2s ease-in;
	padding-left: 1.5rem;

}

/* link */

.glossary-term__card-link {
	font-size: 1rem;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	gap: 0.325rem;
	width: fit-content;
	padding-left: 1.5rem;

}

.glossary-term__card-link:hover .arrow-icon {
	animation: slideRight 0.5s ease-in-out;
}

@keyframes slideRight {
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
