
.promo-banner {
	--strike-through-color: #FCA326;
	--arrow-size: 16px;
	--strike-thought-width: 5px;
	background: linear-gradient(45deg, #151533 0%, #201866 100%);
	position: relative;
}

.promo-banner__container {
	position: relative;
	z-index: 10;
}

.promo-banner::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url("/img/wave-bg.svg") no-repeat center left 25vw;
	width: 100%;
	height: 100%;
}

.promo-banner__card {
 	padding: 4rem 0;
}

.promo-banner__body {
	max-width: 900px;
}

.promo-banner__label {
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: .5rem;
}

.promo-banner__tagline {
	font-size: 4rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.promo-banner__tagline--bold {
	font-weight: 1000;
}

.promo-banner__tagline--strike-through {
	font-weight: 100;
	margin-right: 2.5rem;
	position: relative;
	color: #8A8A99;
}

.promo-banner__tagline--strike-through::before {
	
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: calc(100% + 25px);
	height: var(--strike-thought-width);
	transform: translateY(-50%);
	background: var(--strike-through-color)
}

.promo-banner__arrow-head {
	position: absolute;
	top: 50%;
	right: -10%;
	transform: translate(20px, -50%) rotate(90deg);
	color: var(--strike-through-color);		
}

.promo-banner__description p {
	margin-bottom: 1rem;
}

.promo-banner__sub-text {
	font-size: larger;
	font-weight: bolder;
	display: flex;
	gap: .5rem;
	align-items: center;
	flex-wrap: wrap;
}

.promo-banner__sub-text img {
	margin-top: -1px;
}

.promo-banner__sub-text span {
	margin-top: 4px;
	font-size: 22px;
}

.promo-banner__cta-wrapper {
	margin-top: 2rem;
}


@media (max-width: 768px) {

	.promo-banner__card {
		padding: 2rem 0;
	}
	
  .promo-banner__tagline {
		font-size: 3rem
	}

	.promo-banner__sub-text {
		display: block;
	}

	.promo-banner__sub-text img {
		margin-left: 5px;
		height: 20px;
		padding-top: 2px;
		object-fit: contain;
		width: 25px;
	}

	.promo-banner__cta-wrapper {
		display: flex;
		justify-content: center;
	}
}