.about .intro .tagline {
  max-width: 50rem;
}


.about .team {
  border-bottom: 1px solid var(--border-color);
  background-color: var(--page-background-secondary-color);
  padding: 2rem 0 4rem 0;
}

.about .team .container {
  max-width: 900px;
  margin: 0 auto;
}

.about .team h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.about .team p {
  font-size: 1.125rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.about .team .contact {
  color: var(--faded-text);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about .profiles {
  text-align: center;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .about .profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    max-width: 640px;
    column-gap: 2rem;
  }
}

.about .profile {
  display: block;
  margin-bottom: 1.5rem;
}

.about .profile-image {
  margin: 0 auto 0.5rem;
  height: 160px;
  width: 160px;
  overflow: hidden;
  border-radius: 9999px;
}

.about .profile-image img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.about .name {
  color: var(--white);
  line-height: 2.25rem;
}

.about .social a {
  color: var(--white);
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.about .social a .icon {
  height: 16px;
  margin-right: 0.5rem;
}

.about .social a .icon svg {
  height: 16px;
}

.about .social a .icon svg path.fill {
  fill: var(--nu20);
}

.about .social a .icon svg path.color {
  fill: var(--page-background-secondary-color);
}

.about .social a.twitter:hover .icon svg path.fill {
  fill: var(--twitter-blue);
}

.about .social a.linkedin:hover .icon svg path.fill {
  fill: var(--linkedin-blue);
}

.about .backers {
  text-align: center;
  margin-bottom: 3rem;
}

.about .backers .backer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.about .contributors {
  text-align: center;
}

.about .contributors .tagline {
  margin-bottom: 2rem;
}
