:root {
  --font-family: 'Roboto', sans-serif;

  /* Neutral colors */
  --nu0: #ffffff;
  --nu10: #EBEBF2;
  --nu20: #DCD8E1;
  --nu30: #2A2A5B;
  --nu40: #1B1B42;
  --nu50: #141432;
  --nu60: #0E0E26;

  --nu50-rgb: 20,20,50;
  --nu20-rgb: 220,216,225;

  /* Named colors */
  --primary: #DB44B8;
  --secondary: #E459C4;

  --button-primary-gradient: linear-gradient(180deg, #DB44B8 0%, #AA258B 100%);
  --button-primary-hover-gradient: linear-gradient(180deg, #c0259c 0%, #871d6f 100%);

  --primary-gradient: linear-gradient(243.9deg, #E7B28C 0%, #BD62B6 50%, #6658C5 100%);

  --white: var(--nu0);
  --text-color: var(--nu20);
  --text-color-dark: var(--nu40);
  --header-color: var(--nu10);
  --link-color: var(--secondary);
  --link-hover-color: #cc21a5;

  --border-color: var(--nu30);
  --page-background-color: var(--nu50);
  --page-background-secondary-color: var(--nu60);

  --twitter-blue: #1DA1F2;
  --linkedin-blue: #0072b1;
}

body {
  background-color: var(--page-background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.container {
  padding: 0 1.5rem;
}

@media (max-width: 479px) {
  .container {
    padding: 0 1rem;
  }
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.row.gaps {
  margin-bottom: 1.5rem;
}

.column {
  flex-basis: 100%;
  overflow: auto;
}

.row.gaps .column:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .row {
    flex-wrap: nowrap;
  }

  .column {
    flex: 1;
  }

  .row.gaps {
    margin-bottom: 1.5rem;
  }

  .row.gaps .column:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}
