:root {
  --font-family: 'Roboto', sans-serif;

  /* Neutral colors */
  --nu0: #ffffff;
  --nu10: #ebebf2;
  --nu20: #dcd8e1;
  --nu30: #2a2a5b;
  --nu40: #1b1b42;
  --nu50: #141432;
  --nu60: #0e0e26;

  --nu50-rgb: 20, 20, 50;

  /* Named colors */
  --primary: #db44b8;
  --secondary: #e459c4;

  --button-primary-gradient: linear-gradient(180deg, #db44b8 0%, #aa258b 100%);
  --button-primary-hover-gradient: linear-gradient(
    180deg,
    #c0259c 0%,
    #871d6f 100%
  );

  --primary-gradient: linear-gradient(
    243.9deg,
    #e7b28c 0%,
    #bd62b6 50%,
    #6658c5 100%
  );

	--secondary-gradient: linear-gradient(45deg, #151533 0%, #201866 100%);

  --white: var(--nu0);
  --text-color: var(--nu20);
  --text-color-dark: var(--nu40);
  --header-color: var(--nu10);
  --link-color: var(--secondary);
  --link-hover-color: #cc21a5;
  --faded-text: #afb1c6;

  --border-color: var(--nu30);
  --border-color-secondary: #ffffff25;
  --border-light: #ebebf2;
  --page-background-color: var(--nu50);
  --page-background-secondary-color: var(--nu60);

  --twitter-blue: #1da1f2;
  --linkedin-blue: #0072b1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.container {
  padding: 0 1.5rem;
}

@media (max-width: 479px) {
  .container {
    padding: 0 1rem;
  }
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
}

.page-content {
  margin: 2rem 0 4rem;
}

.default-page-header {
  background: url('/img/bg.svg') right bottom no-repeat;
  padding-bottom: 3rem;
}

.default-page-header .intro {
  background: none;
  padding-bottom: 2rem;
}

.intro {
	background: url('/img/bg-top.svg') center bottom no-repeat;
	background-size: cover;
	padding: 4rem 0;
	border-bottom: 1px solid var(--border-color);
}

.default-page-bg {
	background-color: var(--nu60);
}

.white-bg {
  background-color: white;
  color: var(--text-color-dark) 
}

.white-bg h2, .white-bg h3 {
  color: var(--text-color-dark) 
}

.close {
  color: var(--nu-10);
  opacity: 1;
}

.close:hover {
  opacity: 1;
}
