[class*="blogPostTitle_"] {
  font-size: 2.0rem !important;
}

[class*="blogPostTitle_"] a {
  color: var(--heading-color);
}

.blog-wrapper article:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2rem;
}

.blog-wrapper footer {
  background-color: inherit;
  border-top: inherit;
  padding: inherit;
}

.blog-wrapper footer a {
  color: var(--link-color);
}

.blog-wrapper footer a:hover {
  color: var(--link-hover-color);
}
