[class*='blogPostTitle_'] {
  font-size: 2rem !important;
}

[class*='blogPostTitle_'] a {
  color: var(--heading-color);
}

.blog-wrapper article:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2rem;
}

.blog-wrapper footer {
  background-color: inherit;
  border-top: inherit;
  padding: inherit;
}

.blog-wrapper footer a {
  color: var(--link-color);
}

.blog-wrapper footer a:hover {
  color: var(--link-hover-color);
}

/* Layouts */

.blog-wrapper {
  padding-top: 3rem;
}

.blog-wrapper .blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.container.blog-page {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 3rem;
}

/* nav */

.pagination-nav {
  grid-column: 1 / span 2;
}

.pagination-nav__link {
  border: none;
}
