:root {
  --border-radius: 8px;
}

.level {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.level .left,
.level .right {
  display: flex;
}

.button {
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-weight: bold;
  padding: 0.75rem 1.125rem;
}

.button.primary {
  background: var(--button-primary-gradient);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  font-size: 1.125rem;
}

.button.primary:hover {
  background: var(--button-primary-hover-gradient);
  color: var(--white);
}

.button.secondary {
  background: linear-gradient(180deg, #2a2a5b 0%, #1b1b42 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 1px 0px rgba(255, 255, 255, 0.25);
  font-size: 1.125rem;
}

.button.secondary:hover {
  background: linear-gradient(
    180deg,
    #1b1b42 0%,
    #2a2a5b 100%
  );
  color: var(--white);
}


.button.small {
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.button.flat {
  box-shadow: none;
}

.tag {
  border-radius: 9999px;
  display: inline-block;
  color: var(--white);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.375rem 0.5rem;
}

.tag.green {
  background-color: var(--green);
}

.github-stars {
  align-self: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  color: var(--page-background-color);
  display: inline-block;
  font-size: 0.875rem;
  height: auto;
  line-height: 1.125rem;
  padding: 0.25rem 0.5rem;
  position: relative;
}

.github-stars .star-count {
  display: inline-block;
  text-decoration: none;
}

.github-stars .star-icon {
  float: left;
  margin-right: 0.25rem;
  margin-top: 2px;
}

.github-stars::before {
  content: '\A';
  border-style: solid;
  border-width: 5px 6px 5px 0;
  border-color: transparent var(--white) transparent transparent;
  position: absolute;
  left: -5px;
  top: calc(50% - 5px);
}

.image-wrapper {
  align-items: center;
  background-color: var(--white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  overflow:hidden;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
  padding: 0.5rem;
}

.image-wrapper.pb-0 {
  padding-bottom: 0;
}

.image-wrapper.p-0 {
  padding: 0;
}

.image-wrapper.transparent {
  background-color: transparent;
}

.icon.primary svg path {
  fill: var(--primary);
}

.box {
  background-color: var(--page-background-secondary-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.box.full-height {
  height: calc(100% - 20px); /* subtract box shadow size */
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .box.full-height {
    height: auto;
    margin-bottom: 0;
  }
}

/* INTRO */

.intro .tagline {
  color: var(--white);
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 2.4rem;
  margin: 0 auto;
  text-align: center;
}

.intro .sub-tagline {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: var(--nu20);
}

/* USED BY */

.used-by {
  background-color: var(--page-background-secondary-color);
  padding: 3rem 0;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.used-by--flush {
  padding: 0;
  border: none;
  background-color: transparent!important;
}


.used-by .tagline {
  color: #8083ac;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  text-align: center;
}


.used-by--flush .tagline {
  color: white;
  margin-top: 2rem;
}


.used-by ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.used-by ul li {
  display: inline-block;
  margin: 0 2rem 2rem;
}

.used-by img {
  display: block;
  max-width: 112px;
  max-height: 56px;
}

/* CTA */

.cta {
  background-size: cover;
  border-top: 1px solid var(--border-color);
  padding: 3em 0;
  text-align: center;
	background: var(--secondary-gradient);
}

.cta .action {
  color: var(--header-color);
  font-size: 1.875rem;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 769px) {
  .cta {
    padding: 5rem 0;
  }
}
