/* FINOPS PAGE */

.finops .finops-wrapper {
  padding-bottom: 3rem;
}

.finops-wrapper {
  gap: 4rem;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  width: 100%;
  position: relative;
}

.finops-parallax.container {
  margin: 0;
}

/* CTA */
.finops-cta {
  backdrop-filter: blur(10px);
}

.finops-cta__wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 2rem;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}

.finops-cta__wrapper--bottom {
  border-top: 1px solid var(--border-color);
  border-bottom: none;
}

.finops-cta__text {
  font-weight: bold;
}

/* Finops hero */

#hero-wrapper {
  position: relative;
}

.finops-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  gap: 1rem;
  height: inherit;
  z-index: 10;
}

.finops-hero__section {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.finops-hero-item {
  font-size: 4rem;
  margin-bottom: 0;
  /* line-height: 4rem; */
  text-align: center;
}

.finops-hero-item__highlight {
  font-size: 4rem;
  background: -webkit-linear-gradient(45deg, #34a853, #34a899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.finops-hero-item__highlight-emoji {
  margin: 0 1rem;
}

.finops-hero-item__plus {
  color: var(--link-color);
}

/* Scroll prompt */
.finops-scroll-prompt {
  position: absolute;
  bottom: 150px;
  left: 50%;
  width: 40px;
  margin-left: -20px;
  z-index: -1;
}

/* Demo form */

#finops-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2rem;
}

.finops-form__wrapper {
	padding: 0 4rem;
}

@media screen and (max-width: 1236px) {
  .finops-form__wrapper {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .finops-form__wrapper {
    padding: 1rem;
  }
}

.finops-form__title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.finops-form__section {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}


.finops-form__section label {
	margin-bottom: .5rem;
}

.finops-form__section input {
	padding: 1rem;
	background: var(--input-bg);
	border-radius: 16px;
	border: 1px solid var(--border-color);
	transition: all .2s ease-in-out;
	color: white;
	font-size: 1.25rem;
}

.finops-form__section input:focus {
	border: 1px solid #cc21a5;
	outline: none !important;
	box-shadow: 0 0 10px #3e0f33;
}

.finops-form__footer {
	display: flex;
	justify-content: flex-end;
}

.finops-form__error {
	background: #FBE9E9;
	color: #841715;
	padding: 1rem;
	border-radius: 8px;
}

/* Optimizations */

#finops-mobile {
  display: none;
}

@media screen and (max-height: 850px) {
  .finops-hero-item {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1280px) {
  #finops-parallax {
    display: none;
  }
  #finops-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .finops-hero {
    margin-top: 3rem;
  }

  .finops-wrapper {
    height: initial;
    overflow: initial;
  }

  .finops-hero-item {
    font-size: 3rem;
  }

  .finops-wrapper {
    gap: 4rem;
    height: auto;
  }
}

@media screen and (max-width: 1980px) {
  .finops-scroll-prompt {
    width: 1.75rem;
  }
}
