footer {
  background-color: var(--page-background-secondary-color);
  border-top: 1px solid var(--border-color);
  padding: 4rem 0 0;
}

footer .section {
  margin-bottom: 2rem;
}

footer .section:not(:last-child) {
  margin-right: 4rem;
}

@media (min-width: 768px) {
  footer .sections {
    display: flex;
    margin-bottom: 3rem;
  }

  footer .section {
    margin-bottom: 0;
  }

  footer .section.outreach {
    flex: 1;
    text-align: right;
  }
}

footer h4 {
  color: rgba(var(--nu20-rgb), 0.675);
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer li {
  line-height: 1.75rem;
}

footer a {
  color: var(--text-color);
}

footer .company-info {
  border-top: 1px solid var(--border-color);
  padding: 1.5rem 0;
}

footer .company-info ul {
  margin-bottom: 0;
}

footer .company-info a {
  color: var(--header-color);
}

footer .company-info .copyright {
  color: rgba(var(--nu20-rgb), 0.675);
}

footer .company-info li {
  display: inline-block;
  margin-left: 1.5rem;
}

@media (max-width: 996px) {
  footer .company-info.level {
    display: block;
  }

  footer .company-info .copyright {
    margin-bottom: 1.5rem;
  }

  footer .company-info li {
    display: block;
    margin-left: 0;
  }
}
