.home {
  background-color: var(--page-background-color);
}

.home .heading {
  margin: 4rem 0 2rem;
  text-align: center;
}

.home .heading img {
  display: block;
  margin: 0 auto;
}

.home .heading h2 {
  font-size: 1.875rem;
  margin-bottom: 0;
}

.home .heading .subtitle {
  font-size: 1.125rem;
}

.box {
  background-color: var(--page-background-secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.box.full-height {
  height: calc(100% - 20px); /* subtract box shadow size */
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .box.full-height {
    height: auto;
    margin-bottom: 0;
    /* margin-bottom: 0; */
  }
}

/* HERO */

.home-hero {
  background: url('/img/bg.svg') right bottom no-repeat;
  margin-top: calc(-1 * var(--navbar-height));
  padding: calc(2rem + var(--navbar-height)) 0 1.5rem;
}

.hero-content .right {
  margin-top: 3rem;
}

.home-hero .logo {
  height: 48px;
}

.home-hero h1.tagline {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2.5rem;
  margin: 2rem 0 0.5rem;
}

.home-hero .description {
  color: var(--text-color);
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.home-hero .description strong {
  color: var(--header-color);
}

.home-hero .backers {
  color: var(--white);
  display: flex;
  margin-top: 3rem;
}

.home-hero .backers img {
  margin-right: 0.6125rem;
}

.home-hero .screenshot-wrapper {
  background: var(--primary-gradient);
  background-size: cover;
  border-radius: 16px;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.5));
  padding: 1.5rem 1.5rem 0;
  display: flex;
}

@media (min-width: 769px) {
  .home-hero {
    padding-bottom: 3rem;
    padding-top: calc(3rem + var(--navbar-height));
  }

  .home-hero .logo-wrapper {
    margin-bottom: 1rem;
  }

  .hero-content {
    display: flex;
  }

  .hero-content .left {
    width: 50%;
    margin-right: 3rem;
  }

  .hero-content .right {
    margin-top: 0;
    width: 50%;
  }
}

/* SUPPORTED SERVICES */

.supported-services {
  background-color: var(--page-background-secondary-color);
  padding: 4rem 0 3rem;
  border-bottom: 1px solid var(--border-color);
}

.supported-services ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.supported-services ul li {
  display: inline-block;
  margin: 0 1rem 1rem;
}

.supported-services img {
  display: block;
}

/* PROBLEMS */

.problems .col {
  padding-left: 0;
  padding-right: 0;
}

.problems .row .col {
  flex-basis: 100%;
}

.problems .row .col:not(:last-child) {
  margin-bottom: 1.5rem;
}


@media (min-width: 768px) {
  .problems .row .col:not(:last-child) {
    margin-bottom: 0;
  }

  .problems .row .col.col.col {
    flex-basis: auto;
    flex: 1 0;
  }

  .problems .col:not(:last-child) {
    padding-right: 1.5rem;
  }
}

.problems h3 {
  font-size: 1.125rem;
}

.problems p {
  font-size: 0.875rem;
  margin-bottom: 0;
}

/* WALKTHROUGH */

.step {
  background: var(--page-background-secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: block;
  margin: 0 auto 1.5rem;
  max-width: 900px;
  padding: 2rem;
}

.step:nth-child(2) {
  flex-direction: row-reverse;
}

.step-content {
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.step-content h3 {
  font-size: 1.25rem;
}

.step-number {
  background: var(--primary-gradient);
  border-radius: 9999px;
  color: var(--white);
  display: inline-block;
  font-weight: bold;
  margin-bottom : 1.5rem;
  padding: 0.5rem 1rem;
}

.step-screenshot {
  background: var(--primary-gradient);
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  margin: 0 auto -2rem;
  max-width: 460px;
  padding: 1.25rem 1.25rem 0;
}

@media (min-width: 997px) {
  .step {
    display: flex;
  }

  .step-number {
    margin-top : 1.5rem;
  }

  .step-content {
    margin-bottom: 0;
    margin-right: 2rem;
    width: calc(50% - 2.5rem);
  }

  .step:nth-child(2) .step-content {
    margin-left: 2rem;
    margin-right: 0;
  }

  .step-screenshot {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0;
    margin-right: -2rem;
    width: calc(50% + 2.5rem);
  }

  .step:nth-child(2) .step-screenshot {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    margin-left: -2rem;
    margin-right: 0;
  }
}

/* SOCIAL MENTIONS */

.social-mentions .cards {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}

.social-mentions .cards::-webkit-scrollbar {
  display: none;
}

.social-mentions .card {
  background: linear-gradient(104.31deg, var(--white) 0%, #F8F8FB 100%);
  border-radius: 8px;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8); TODO: this is causing weird shadows at the bottom of the .cards block  */
  break-inside: avoid;
  color: var(--text-color-dark);
  display: inline-block;
  margin-right: 1.5rem;
  min-width: 85%;
  position: relative;
}

@media (min-width: 769px) {
  .social-mentions .cards {
    display: block;
    column-count: 3;
    column-gap: 1.5em;
  }

  .social-mentions .card {
    display: block;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

.social-mentions .card .platform-icon.twitter:hover svg path.fill {
  fill: var(--twitter-blue);
}

.social-mentions .card .platform-icon.linkedin:hover svg path.fill {
  fill: var(--linkedin-blue);
}

.social-mentions .card .card-wrapper {
  padding: 1.5rem;
}

.social-mentions .card .card-wrapper a {
  position: relative;
  z-index: 20;
}

.social-mentions .card .heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem;
  text-align: left;
}

.social-mentions .card .profile-image {
  height: 42px;
  width: 42px;
  margin-right: 0.5rem;
}

.social-mentions .card .profile-image img {
  border-radius: 4px;
}

.social-mentions .card .author {
  color: var(--text-color-dark);
  display: flex;
}

.social-mentions .card .author:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

.social-mentions .card .author-details {
  display: flex;
  flex-direction: column;
}

.social-mentions .card .author-details .name {
  font-weight: 900;
  line-height: 1.5rem;
}

.social-mentions .card .author-details .subtitle {
  color: var(--nu30);
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.social-mentions .card .platform-icon {
  align-self: center;
  margin-left: auto;
}


/* USERS */

.users {
  background-color: var(--page-background-secondary-color);
  padding: 3rem 0;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.users .tagline {
  color: rgba(var(--nu20-rgb), 0.675);
  font-size: 0.875rem;
  margin-bottom: 2rem;
  text-align: center;
}

.users ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.users ul li {
  display: inline-block;
  margin: 0 2rem 2rem;
}

.users img {
  display: block;
}

