.hero {
  padding: 2rem 0;
  text-align: center;
}

.hero--dark {
  --ifm-hero-background-color: var(--ifm-color-gray-800);
  --ifm-hero-text-color: var(--ifm-color-white);
}

.hero__title {
  font-weight: bold;
  line-height: 1.25;
  font-size: 2rem;
}

.hero__subtitle {
  font-size: 1.4rem;
  line-height: 1.25;
  color: var(--ifm-color-gray-300);
}

.hero__screenshot {
  margin-top: 2rem;
}
.hero__screenshot img {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}

@media (min-width: 769px) {
  .hero {
    padding: 4rem 2rem;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__subtitle {
    font-size: 1.8rem;
  }
}
@media (min-width: 997px) {
  .hero {
    text-align: left;
  }
  .hero__title {
    max-width: 280px;
  }
  .hero__screenshot {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    padding: 0 1.5rem;
  }
}

.hero .button--lg {
  --ifm-button-size-multiplier:  1.4;
}
@media (min-width: 769px) {
  .hero .button--lg {
    --ifm-button-size-multiplier:  1.6;
  }
}

.open-source-label {
  color: var(--ifm-color-gray-400);
  margin-bottom: 1.5rem;
}
.open-source-label strong {
  color: var(--ifm-color-gray-200);
  font-weight: normal;
}

.home-section {
  text-align: center;
  padding: 4rem 0;
}

.home-section h2 {
  color: var(--ifm-color-gray-700);
  font-size: 1.6rem !important;
}
.home-section h3 {
  font-size: 1.4rem !important;
  font-weight: normal;
}

[data-theme='dark'] .home-section h2 {
  color: var(--ifm-color-gray-100);
}

.home-section p {
  color: var(--ifm-color-gray-500);
}

[data-theme='dark'] .home-section p {
  color: var(--ifm-color-gray-400);
}

@media (min-width: 769px) {
  .home-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .home-section h2 {
    font-size: 2rem !important;
  }
  .home-section h3 {
    font-size: 1.6rem !important;
  }
  .home-section p {
    font-size: 1.2rem;
  }
}

.steps {
  background-color: var(--ifm-color-gray-800);
  color: var(--ifm-color-white);
}

.steps h3 {
  margin-bottom:
}

.step {
  margin-bottom: 3rem;
}

.step .step-text {
  text-align: center;
}
.step .step-no {
  color: var(--ifm-color-gray-500);
  margin-right: 1rem;
}

@media (min-width: 997px) {
  .steps h3 {
    display: flex;
    margin-top: 1.5rem;
    text-align: left;
  }
  .step {
    margin-bottom: 0;
  }
  .step:first-child {
    background:
        linear-gradient(to bottom,
          var(--ifm-color-gray-800) 0%,
          var(--ifm-color-gray-800) 50px,
          transparent 50px,
          transparent 100%);
  }

  .col.screenshot-col {
    background: linear-gradient(to right,
        transparent 0%,
        transparent calc(50% - 8px),
        var(--ifm-color-gray-600) calc(50% - 8px),
        var(--ifm-color-gray-600) calc(50% + 8px),
        transparent calc(50% + 8px),
        transparent 100%);
    padding-bottom: 3rem;
  }
  .step:last-child .col.screenshot-col {
    padding-bottom: 0;
  }
}

.step-screenshot {
  background-color: var(--ifm-color-white);
  border-radius: var(--ifm-card-border-radius);
  padding: 1rem;
  width: 100%;
  max-width: 640px;
  vertical-align: middle;
  box-sizing: inherit;
}

.supported-services {
  text-align: center;
  padding: 2rem 0;
  background-color: var(--ifm-color-white);
}

[data-theme='dark'] .supported-services {
  background-color: var(--ifm-color-gray-900);
}

.supported-services h3 {
  color: var(--ifm-color-gray-700);
  margin-bottom: 2rem;
}


[data-theme='dark'] .supported-services h3 {
  color: var(--ifm-color-gray-100);
}

.supported-service-image {
  height: 120px;
  width: 120px;
  margin-bottom: 2rem;
  object-fit: contain;
}
