:root {
  --navbar-height: 73px;
  --navbar-background-color: rgba(var(--nu50-rgb), 0.9);
}

.navbar {
  backdrop-filter: blur(10px);
  background-color: var(--navbar-background-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 300;
}

.navbar a:hover {
  color: var(--link-color);
}

.navbar.at-top {
  background: none;
  border-bottom: none;
  box-shadow: none;
  position: relative;
}

.navbar > .container {
  padding: 0 1.5rem;
}

.navbar img {
  display: block;
}

.navbar .left, .navbar .right {
  align-items: center;
}

.navbar .logo img {
  height: 24px;
}

.navbar .icon {
  height: 24px;
}

.navbar .hamburger {
  cursor: pointer;
  display: none;
  margin-right: 1.5rem;
}

.navbar .navbar-item {
  display: flex;
  flex-wrap: wrap;
}

.navbar .navbar-item .icon {
  margin-right: 0.5rem;
}

.navbar .navbar-item {
  color: var(--white);
}

.navbar .top {
  border-bottom: 1px solid var(--border-color);
  height: var(--navbar-height);
}

.home .navbar.at-top .top .logo {
  display: none;
}

.navbar .top .logo {
  border-right: 1px solid var(--border-color);
  margin-right: 1.5rem;
  padding-right: 1.5rem;
}

.navbar .top .community {
  display: flex;
}

.navbar .top .community .link-text {
  display: none;
}

.navbar .top .community .navbar-item:not(:last-child) {
  margin-right: 1rem;
}

.navbar .top .menu {
  display: flex;
}

.navbar .top .menu .navbar-item:not(:last-child) {
  margin-right: 1.5rem;
}

.navbar .top .get-started {
  display: none;
}

.navbar .sidebar-backdrop {
  background-color: rgba(0,0,0,.6);
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 400;
}

.navbar .sidebar {
  background-color: var(--page-background-secondary-color);
  border-right: 1px solid var(--border-color);
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 200ms ease;
  -webkit-overflow-scrolling: touch;
  width: 80%;
  z-index: 500;
}

.navbar .sidebar .back {
  background-color: var(--page-background-secondary-color);
  padding: 1rem 2.5rem;
  border-bottom: 1px solid var(--border-color);
  width: calc(100% + 3rem);
  margin: -1px 0 0 -1.5rem;
}

.navbar .sidebar .back:hover {
  color: var(--link-hover-color);
}

.navbar .sidebar .container {
  height: 100%;
  max-width: none;
}

.navbar .sidebar .header {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  height: var(--navbar-height);
}

.navbar .sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.navbar .sidebar .sidebar-content .navbar-section {
  margin-bottom: 1.5rem;
}

.navbar .sidebar .sidebar-content h4 {
  color: var(--faded-text);
  font-size: 1.125rem;
  font-weight: normal;
}

.navbar .sidebar .navbar-item {
  align-items: center;
  margin-bottom: 1rem;
}

.navbar .sidebar .navbar-item .icon {
  height: 16px;
  width: 16px;
}

.navbar .sidebar .navbar-item .link-text {
  margin-right: 0.75rem;
}

@media (max-width: 996px) {
  .navbar > .container {
    padding: 0 1.5rem;
  }

  .navbar.sidebar-open {
    backdrop-filter: none;
    background: transparent;
    border-bottom: none;
    box-shadow: none;
  }

  .navbar.sidebar-open .sidebar {
    transform: translateX(0%);
  }

  .navbar.sidebar-open .top {
    display: none;
  }

  .navbar.sidebar-open .sidebar-backdrop {
    display: block;
  }

  .navbar .hamburger {
    display: block;
  }

  .navbar .top .left {
    width: 100%;
  }

  .navbar .top .community {
    flex: 1;
    justify-content: flex-end;
  }

  .navbar .top .community .navbar-item:not(:last-child) {
    margin-right: 0;
  }

  .navbar .top .slack {
    display: none;
  }

  .navbar .top .menu {
    display: none;
  }
}

@media (min-width: 997px) {
  .navbar.sidebar-open .sidebar {
    transform: translateX(-100%);
  }

  .navbar .sidebar-backdrop {
    display: none;
  }
}

@media (max-width: 479px) {
  .navbar > .container {
    padding: 0 1rem;
  }

  .navbar .hamburger {
    margin-right: 1rem;
  }

  .navbar .top .logo {
    padding-right: 1rem;
    margin-right: 0.5rem;
  }
}
