.navbar__logo {
  margin-right: 0;
  width: 120px;
  padding: var(--ifm-navbar-item-padding-vertical) 0 calc(1.5 * var(--ifm-navbar-item-padding-vertical));
}

.navbar__toggle {
  margin-right: 1rem;
}

.navbar__item {
  font-size: 110%;
}

.navbar__link--active {
  color: var(--ifm-navbar-link-color-active);
}

.navbar__github-icon {
  padding: 0.25rem 0.5rem;
}

.navbar__github-icon::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url('/img/github-mark-light.svg');
}

[data-theme='dark'] .navbar__github-icon::before {
  background-image: url('/img/github-mark-dark.svg');
}

.navbar__slack-icon {
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.navbar__slack-icon::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url('/img/slack.svg');
}

.react-toggle-track-check, .react-toggle-track-x {
  height: 14px !important;
  width: 14px !important;
}

.react-toggle-track {
  background-color: var(--ifm-color-gray-800) !important;
}

[data-theme='dark'] .react-toggle-track {
  background-color: var(--ifm-color-white) !important;
  border: none !important;
}

[data-theme='dark'] .react-toggle .react-toggle-thumb, .react-toggle--checked .react-toggle-thumb {
  background-color: var(--ifm-color-gray-800) !important;
  border: none !important;
}
