.pricing .pricing-wrapper {
  padding-bottom: 3rem;
}

.pricing p.sub-tagline {
	margin-bottom: 0;
}

.pricing .plans {
  margin: 4rem auto;
}

.pricing .plan {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem;
}

@media (min-width: 997px) {
  .pricing .plans {
    display: flex;
    justify-content: center;
    max-width: 1100px;
  }

  .pricing .plan {
    margin: 0 0 2rem 0;
    flex-basis: 50%;
  }

  .pricing .plan:not(:last-child) {
    margin-right: 2rem;
  }
}

.pricing .plan .heading {
  margin-bottom: 0.5rem;
  text-align: center;
}

.pricing .plan .action {
  text-align: center;
}

.pricing .plan h2 {
  font-size: 1.5rem;
  color: var(--nu20);
  margin-bottom: 0.5rem;
}

.pricing .plan h2 .coming-soon {
  font-size: 1rem;
  color: var(--faded-text);
}

.pricing h3 {
  font-size: 1rem;
  color: var(--nu20);
  margin-bottom: 4rem;
  text-align: center;
}

.pricing .plan .price {
  font-size: 1rem;
  color: var(--white);
  display: block;
  margin-bottom: 1rem;
}

.pricing .price__wrapper {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin-bottom: 1rem;
}

.pricing .price__footnote {
	font-size: smaller;
	color: var(--faded-text);
}

.pricing .plan ul {
  flex: 1;
  list-style-type: none;
  margin: 0 0 1.5rem;
  padding: 0;
}

.pricing .plan ul.price__free {
	margin-top: 2.75rem;
}

.pricing .plan li {
  display: flex;
  margin-bottom: 0.5rem;
}

.pricing .plan li .icon {
  margin-top: 2px;
  margin-right: 0.5rem;
}

.pricing li.plan__coming-soon {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px dashed #ffffff2e;
}

.pricing .used-by {
  background-color: var(--page-background-color);
  border-bottom: none;
}
