.pricing .pricing-wrapper {
  padding-bottom: 3rem;
}

.pricing p.sub-tagline {
	margin-bottom: 0;
}

.pricing .plans {
  margin: 4rem auto;
}

.pricing .plan {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem;
	transition: all 0.4s ease-out;
}

@media(hover: hover) {
	.pricing .plan:hover {
		transform: scale(1.05);
	}
}

.pricing .box {
	padding: 0;
	overflow: hidden;
}

.pricing .plan__wrapper {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

@media (min-width: 997px) {
  .pricing .plans {
    display: flex;
    justify-content: center;
  }

  .pricing .plan {
    margin: 0 0 2rem 0;
    flex-basis: 50%;
  }

  .pricing .plan:not(:last-child) {
    margin-right: 2rem;
  }
}

.pricing .plan {
		--text-color: #fff;
		--muted: #dfa9da;
		--secondary-color: #fbeaf9;
}

.pricing .plan .heading {
  padding: 1rem;
  text-align: center;
	background-color: #141534;
	font-size: 1.5rem;
	color: var(--text-color)
}

.pricing .plan .heading h2 {
	margin-bottom: 0;
}

.pricing .plan .action {
  text-align: center;
}

.pricing .plan--paid {
	background: var( --primary-gradient);
	color: var(--text-color);
}

.pricing .plan--paid .icon.primary svg path {
	fill: var(--secondary-color)
}

.pricing .plan--free ul {
	margin-top: 2.75rem;
}

.pricing .plan h2 .coming-soon {
  font-size: 1rem;
}

.pricing h3 {
  font-size: 1rem;
  margin-bottom: 4rem;
  text-align: center;
}

.pricing .plan .price {
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
}

.pricing .price__wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .5rem;
}

.pricing .price__tier {
	font-size: 6rem;
	display: flex;
	flex-direction: column;
	font-weight: 1000;
	line-height: initial;
}

.pricing .plan--free .price__tier  {
	font-weight: 100;
}

.pricing .price__suppl {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-weight: 1000;
	color: var(--secondary-color);
}

.pricing .price__description {
	font-size: smaller;
	margin-bottom: 1rem;
	font-weight: 100;
	color: var(--secondary-color);
}

.pricing .plan ul {
  flex: 1;
  list-style-type: none;
  margin: 0 0 1.5rem;
  padding: 0;
}

.pricing .plan li {
  display: flex;
  margin-bottom: 0.5rem;
}

.pricing .plan li .icon {
  margin-top: 2px;
  margin-right: 0.5rem;
}

.pricing li.plan__coming-soon {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px dashed rgba(255, 255, 255, 0.4);
}

.pricing li b {
	color: var(--secondary-color)
}

.pricing .used-by {
  background-color: var(--page-background-color);
  border-bottom: none;
}
