/* PRODUCTS PAGE */

.products .products-wrapper {
  padding-bottom: 3rem;
}

.products .products-wrapper__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

.products .tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

@media (max-width: 996px) {
  .products .tagline {
    flex-direction: column;
  }
}
