/* PRODUCTS PAGE */

.products .products-wrapper {
  background: url('/img/bg.svg') right bottom no-repeat;
  padding-bottom: 3rem;
}

.products .products-wrapper__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.products .intro {
  background: none;
  padding-bottom: 2rem;
}

.products .tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

@media (max-width: 996px) {
  .products .tagline {
    flex-direction: column;
  }
}
