.security .security-wrapper {
  background: url('/img/bg.svg') right bottom no-repeat;
  padding-bottom: 3rem;
}

.security .intro {
  background: none;
  padding: 2rem;
}

.security .intro .sub-tagline {
  margin: 0 auto;
  max-width: 36rem;
}

.security .sections {
  margin: 2rem auto;
}

.security .section {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem;
  max-width: 900px;
}

.security .section .heading {
  margin-bottom: 0.5rem;
}
.security .section h2 {
  font-size: 1.625rem;
  color: var(--nu20);
  margin-bottom: 0.875rem;
}

.security h3 {
  font-size: 1.375rem;
  color: var(--nu20);
  margin-bottom: 0.75rem;
}

.security .certification {
  display: inline-block;
}

.security .certification .badge {
  display: flex;
  margin: 0 auto 0.5rem;
}

.security .certification .icon {
  margin-top: 2px;
  margin-right: 0.5rem;
}
